<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Good Morning: <%=userInfo.username%>!</h1>
    <ul class ="navbar">
        <li><a href="account">Cash</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li><a href="account">Account</a></li>
    </ul>
    <section class="chart">
        <img src="assets/123.png">
    </section>
    <!-- view portfolio holding performance -->
    <section class="chart">

    </section>
    <!-- show cash balance -->
    <section class="cashBalance">

    </section>
    <!-- show top 3 movers -->
    <section class="dailyMovers">

    </section>
    <!-- show positions held -->
    <section class="positions">

    </section>
    <!-- show positions interested in -->
    <section class="watchlist">

    </section>
</body>
</html>


