<%- include("../partials/header.ejs"); %>

<body>
    <section class="heartwarming">
        [ Heartwarming Image ]
    </section>
    <section class="large-form">
        <header>Welcome to Won Ventures</header>
        <form action="/comments" method="post">
            <section>
                <label for="username">Email or username</label>
                <input type="text" name="username">
            </section>
            <section>
                <label for="password">Password</label>
                <input type="password" name="password">
            </section>
            <button>submit</button>
        </form>
    </section>
</body>

<%- include("../partials/footer.ejs"); %>