<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Please Login</title>
</head>
<body>
    <section class="heartwarming">
        <img src="img/heartwarming.jpg">
    </section>
    <section class="large-form">
        <header>Welcome to Won Ventures</header>
        <form action="/comments" method="post">
            <section>
                <label for="username">Email or username</label>
                <input type="text" name="username">
            </section>
            <section>
                <label for="password">Password</label>
                <input type="password" name="password">
            </section>
            <button>submit</button>
        </form>
    </section>
</body>
</html>