<%- include("../partials/header.ejs"); %>

<body class="auth-grid">
    <section class="heartwarming">
        [ Heartwarming Image ]
    </section>
    <section class="login-container">
        <h1>Won Ventures</h1>
        <h3>Login to Your Account</h3>
        <form action="/comments" method="post" class="login-form">
            <input type="text" name="username" placeholder="username" class="input-text">
            <input type="password" name="password" placeholder="password" class="input-text">
            <input type="submit" value="Login" class="submit-button">
        </form>
    </section>
</body>

<%- include("../partials/footer.ejs"); %>