<%- include("../partials/header.ejs"); %>

<body>
    <h1>Make a new comment</h1>
    <form action="/user" method="post">
        <section>
            <label for="username">Enter username:</label>
            <input type="text" placeholder="username" name="username">
        </section>
        <section>
            <label for="password">Comment Text</label>
            <input type="password" placeholder="password" name="password">
        </section>
        <button>submit</button>
    </form>
</body>

<%- include("../partials/footer.ejs"); %>