<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Stocks</title>
</head>
<body>
    <h1>These are all the available stocks:</h1>
    <ul>
        <%for(let stock of stocks){%>
        <li><a href="/stock/<%=stock._id%>"><%=stock.name%></a></li>
        <%}%>
    </ul>
</body>
</html>