<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%=stocks.name%></h1>
    <p><b>$<%=stocks.price%></b><p>
    <p><b>Category:<%=stocks.category%></b></p>
    <footer>
        <form action="/user" method="POST">
            <div>
                <label for="buy">Buy</label>
                <input type="number" id="buy" name="stock[buy]">
            </div>
            <button>Add Position</button>
        </form>
        <form action="/user" method="POST">
            <div>
                <label for="sell">Sell</label>.
                <input type="number" id="sell" name="stock[sell]">
            </div>
            <button>Remove Position</button>
        </form>
        <a href="/stock/<%=stocks._id%>/edit">Add to Watchlist</a>
        <a href="/stock">Stock Index</a>
    </footer>
</body>
</html>

